{% extends 'base.html.twig' %}

{% block title %}Ajouter un matériel{% endblock %}

{% block contenu %}
    <h4>Ajouter un matériel</h4>
    </br>
    {# templates/matériel/ajouter.html.twig #}
    {{ form_start(form) }}
    <div class="col-sm-6 mb-3 mb-sm-0">
        {{ form_widget(form.intitule, {'attr': {'class': 'form-control', 'placeholder': ' Intitule'}}) }}
    </div></br>
    <div class="col-sm-6 mb-3 mb-sm-0">
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': ' Description'}}) }}
    </div></br>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
{% endblock %}
    