<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN MATERIEL</h5>
 <p>
  <table >
     <tr><td>Nom : </td><td>{{materiel.intitule}} </td></tr>
	<tr><td>Description : </td><td>{{materiel.description}}</td></tr>
	
 </table>
	
	 
    </body>
</html>