{% extends 'base.html.twig' %}
{% block title %}{{materiel.intitule}}{% endblock %}
{% block contenu %}   

<h5>PAGE DE CONSULTATION D'UN MATERIEL</h5>
 <p>
  <table >
     <tr><td>Nom : </td><td>{{materiel.intitule}}</td></tr>
	<tr><td>Description : </td><td>{{materiel.description}}</td></tr>
	
 </table>

 <br><a href="{{ path('materielLister') }}" type="button">Retour</button></a>
   

  </table>
{% endblock %}