{% extends 'base.html.twig' %}
{% block title %}Liste du Matériel{% endblock %}
{% block contenu %}
		
		LISTE DU MATERIELS</br>
		<table>
		{% for e in pMateriels %}
		<tr>
			<td><a href="{{ path('materielConsulter', { 'id': e.id }) }}">{{ e.intitule }}</a></td>
			<td>{{ e.description }}</td>
	{% else %}
		<tr>
		<td>Aucun materiel n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}	 
