{% extends 'base.html.twig' %}
{% block title %}Liste du Matériel{% endblock %}
{% block contenu %}

<h5>LISTE DU MATERIEL</h5></br>
<div class="row">
    {% for e in pMateriels %}
    <div class="col-md-4">
        <div class="card mt-4 " style="height:90%;">
            <div class="card-body">
                <h5 class="card-title">{{ e.intitule }}</h5>
                {% if e.description != '' %}
                <div class="card-text">
                    {{ e.description }}
                </div>
                {% else %}{% endif %}
            </div>
            <div class="card-footer">
                <a href="{{ path('materielConsulter', { 'id': e.id }) }}"><button type="button" class="btn btn-primary">
                    Voir plus
                </button></a>
            </div>
        </div>
    </div>
    {% else %}
    <div>Aucun materiel n'a été trouvé.</div>
    {% endfor %}
</div>
{% endblock %}