<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Liste du Matériel{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		
		LISTE DU MATERIELS</br>
		<table>
		{% for e in pMateriels %}
		<tr>
			<td><a href="{{ path('materielConsulter', { 'id': e.id }) }}">{{ e.intitule }}</a></td>
			<td>{{ e.description }}</td>
	{% else %}
		<tr>
		<td>Aucun materiel n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
	 
    </body>
</html>