{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block contenu %}

<div class="example-wrapper">
    <h1>Accueil</h1>

    <img src="start/img/kinodoc.png" style="max-width:100%">
    

</div>
{% endblock %}

