{% extends 'base.html.twig' %}
{% block contenu %}   

<h5>PAGE DE CONSULTATION D'UN EMPRUNT</h5>
 <p>
  <table >
     <tr><td>Matériel : </td><td>{{emprunt.inscrit.id'}}</td></tr>
	<tr><td>Description : </td><td>{{materiel.description}}</td></tr>
	
 </table>

 <br><a href="{{ path('materielLister') }}" type="button">Retour</button></a>
   

  </table>
{% endblock %}