{% extends 'base.html.twig' %}
{% block title %}Liste des Emprunts{% endblock %}

{% block contenu %}
    <div>
        LISTE DES EMPRUNTS</br>
        <table>
            {% for e in pEmprunts %}
            <tr>
                <td><a href="{{ path('empruntConsulter', { 'id': e.id }) }}">{{ e.inscrit.nom }}, {{ e.inscrit.prenom }}</a>&nbsp;&nbsp;</td>
                <td>{{ e.materiel.intitule }}</td>
            </tr>
            {% else %}
            <tr>
                <td>Aucun emprunt en cours.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
