{% extends 'base.html.twig' %}

{% block title %}Edit Benevole{% endblock %}

{% block contenu %}
    <h1>Edit Benevole</h1>

    {{ include('benevole/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_benevole_index') }}">Retour a la liste</a>

    {{ include('benevole/_delete_form.html.twig') }}
{% endblock %}
